# Ignore everything
*

# But not these files...
!.gitignore
!*.tex
!*.png
!*.pdf
!*.PNG
# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/template/*
!*/img/*
